{% extends 'staff/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="container">
    <div class="mb-3 border border-dark bg-white">
        <div class="ms-3 mt-2 text-decoration-underline">
            <h3>Xuất vé</h3>
        </div>
        <div class="ms-3 me-3 row">
            <div class="col-md-6 col-12">
                <form id="export_ticket_form" onsubmit="submitExportTicketForm(event)">
                    <div class="mb-3">
                        <label for="ticket_code" class="form-label ">Mã vé</label>
                        <input type="text" class="form-control border border-dark" id="ticket_code"
                               placeholder="Nhập mã vé" onblur="" required>
                    </div>

                    <div class="d-flex mb-3">
                        <div class="me-3">
                            <button type="reset" class="btn btn-danger ">Xóa</button>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary "
                                    data-bs-target="">Kiểm tra
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-center">
                <h3>Vé</h3>
                <div class="mb-3">

                    <div id="ticket">
                        <p>Mã chuyến bay: C2</p>
                        <p>Khách hàng: Nguyễn Nam</p>
                        <p>CMND/CCCD: 1234567</p>
                        <p>SĐT: 0795728410</p>
                        <p>Hạng ghế: Hạng 1</p>
                        <p>Giá vé: 500.000 VNĐ</p>
                    </div>
                    <button class="btn btn-primary">Xuất vé</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}