{% extends 'staff/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="container">
    <div class="mb-3 border border-dark bg-white">
    <div class="ms-3 mt-2 text-decoration-underline">
        <h3>Trang thanh toán</h3>
    </div>
    <div class="ms-3 me-3">
        <div class="row">
            <div class="col-md-4 col-12 border-bottom border-dark">
                <h4>Khách hàng <span>{{ customer.first_name }}</span></h4>
            </div>
            <div class="col-md-8 col-12 border-bottom border-dark">
                <p>Tên máy bay: {{ airplane_name }}</p>
                <p>Thông tin chuyến bay: </p>
                <p>Ngày bay: {{ flight_date }}</p>
                <ol>
                {% for i in range(1, airport_array|length) %}
                    <li>{{ airport_array[i - 1].address }} - {{ airport_array[i].address }}: Nghỉ {{ sub_flights[i - 1].waiting_duration }} phút - Bay {{ sub_flights[i - 1].flying_duration }} phút </li>
                {% endfor %}
                </ol>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <h4>Tổng vé: {{ total_quantity }}</h4>
            <h4>Tổng tiền: {{ "{:,.0f}".format(total_amount) }}</h4>
        </div>
        <div class="row">
            {% for i in range(tickets|length) %}
            {% set ticket = tickets[i] %}
            {% set passenger = passengers[i] %}
            <div class="col-md-6 col-12 border-top border-bottom border-dark mt-3 mb-3">
                <h4 class="mt-3">Hành khách</h4>
                <p>Họ: <span>{{ passenger.last_name }}</span></p>
                <p>Tên: <span>{{ passenger.first_name }}</span></p>
                <p>Số căn cước: <span>{{ passenger.id_card_number }}</span></p>
                <p>Số điện thoại: <span>{{ passenger.phone_number }}</span></p>
            </div>
            <div class="col-md-6 col-12 border-top border-bottom border-dark mt-3 mb-3">
                <h4 class="mt-3">Vé</h4>
                <p>Ghế: <span>{{ ticket.seat_name }}</span></p>
                <p>Hạng ghế: <span>{{ ticket.seat_class_name }}</span></p>
                <p>Giá: <span>{{ "{:,.0f}".format(ticket.ticket_price) }} VNĐ</span></p>
            </div>

            {% endfor %}
        </div>
        <form onsubmit="pay_staff(event)">
            <div class="mb-3">
                <label for="payment_method" class="">Phương thức thanh toán</label>
                <select class="form-control border border-dark" id="payment_method" name="payment_method" required>
                    <option value="" disabled selected>-- Chọn phương thức thanh toán --</option>
                    {% for name, value in payment_methods.items() %}
                    <option value="{{ name }}">{{ value }}: {{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-danger mb-3" >Thanh toán</button>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/pay.js') }}"></script>
</div>
{% endblock %}