{% extends 'staff/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
</script>
<div class="container">
    <div class="mb-3 border border-dark bg-white" style="height:600px">
        <div class="ms-3 mt-2 text-decoration-underline">
            <h3>Đặt vé</h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-12 d-flex flex-column" style="height: 70vh">
                <div>
                    <div class="m-3">
                        <label class="ms-3" for="chosen-seats">Read-Only Input:</label>
                        <input class="form-control" type="text" id="chosen-seats" value="This is read-only" readonly>
                    </div>
                    <div class="m-3 ">
                        <label class="ms-3" for="myListBox">Chọn hạng ghế:</label>
                        <select id="myListBox" class="form-control">
                            <option value="option1">Phổ thông siêu tiết kiệm</option>
                            <option value="option2">Phổ thông</option>
                            <option value="option3">Thương gia</option>
                        </select>
                    </div>
                </div>
                <div class="mt-auto">
                    <div>
                        <div class="m-3">
                            <label class="ms-3" for="total-seats">Tổng ghế:</label>
                            <input class="form-control" type="text" id="total-seats" value="0" readonly>
                        </div>
                        <div class="m-3">
                            <label class="ms-3" for="amount-seats">Tổng tiền:</label>
                            <input class="form-control" type="text" id="amount-seats" value="0" readonly>
                        </div>
                    </div>
                    <div class="m-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Thanh toán
                        </button>
                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Nhập thông tin hành khách</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="/search_result" method="get" style="width:100%">
                                            <div class="mb-5 mt-4">
                                                <label for="start_point" class="mb-1 ps-1">Nơi đi</label>
                                                <input type="text" class="form-control" id="start_point"
                                                       placeholder="Nhập nơi đi ..."
                                                       name="start_point">
                                            </div>
                                            <div class="mb-5 mt-3">
                                                <label for="end_point" class="mb-1 ps-1">Nơi đến</label>
                                                <input type="text" class="form-control" id="end_point"
                                                       placeholder="Nhập nơi đến ..."
                                                       name="end_point">
                                            </div>
                                            <div class="mb-5 mt-3">
                                                <label for="flight_date" class="mb-1 ps-1">Ngày bay</label>
                                                <input type="date" class="form-control" id="flight_date"
                                                       placeholder="Chọn ngày bay ..."
                                                       name="flight_date">
                                            </div>
                                            <div class="mb-5 mt-3 d-flex justify-content-center">
                                                <a href="">
                                                    <button type="submit" class="btn btn-outline-primary">Tìm kiếm
                                                    </button>
                                                </a>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <p class="me-4">Copyright &copy 2024 Đông Thành Airline. All rights
                                            reserved.</p>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a href="#" class="btn btn-danger">Hủy</a>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 ">
                <div class="d-flex align-item-center justify-content-center">
                    <table class="table">
                        <tr>
                            <th>Mã ghế</th>
                            <th>Hạng ghế</th>
                            <th>Giá vé</th>
                            <th></th>
                        </tr>
                        {% for i in range(3) %}
                        <tr>
                            <td>1</td>
                            <td>Thương gia</td>
                            <td>1,400,000</td>
                            <td><input type="button" class="btn btn-danger" value="Xóa"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex align-item-center justify-content-center">
                <div class="border border-dark ms-5 text-center" style="height: 100%; width: 280px">
                    {% for i in range(1, 40 + 1) %}
                    {% if i % 4 == 1 %}
                    <button class="btn btn-outline-primary mt-2 ms-1 seat-toggle" style="">{{ i }}</button>
                    {% elif i % 4 == 2 %}
                    <button class="btn btn-outline-primary mt-2 seat-toggle" style="">{{ i }}</button>
                    {% elif i % 4 == 3 %}
                    <button class="btn btn-outline-primary ms-5 mt-2 seat-toggle" style="">{{ i }}</button>
                    {% else %}
                    <button class="btn btn-outline-primary mt-2 seat-toggle" style="">{{ i }}</button>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <script src="{{ url_for('static', filename='js/selling.js') }}"></script>
        </div>
    </div>
</div>
{% endblock %}