{% extends 'layout/base.html' %}
{% block js %}

{% endblock %}
{% block content %}
<div class="mb-3 border border-dark bg-white" style="height:85vh">
    <div class="ms-3 mt-2 text-decoration-underline">
        <h3>Đặt vé</h3>
    </div>
    <div class="row">
        <div class="col-md-3 col-12 d-flex flex-column" style="height: 70vh">
            <div>
                <div class="m-3">
                    <label class="ms-3" for="chosen-seats">Các ghế đã đặt:</label>
                    <input class="form-control" type="text" id="chosen-seats"
                           placeholder="Các ghế đã đặt sẽ hiển thị ở đây" readonly>
                </div>
                <div class="m-3 ">
                    <label class="ms-3" for="myListBox">Chọn hạng ghế:</label>
                    <select id="myListBox" class="form-control">
                        <option value="" disabled selected>Chọn hạng ghế</option>
                        {% for seat_class in seat_classes %}
                        <option value="{{ seat_class.id }}">{{ seat_class.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-auto">
                <div>
                    <div class="m-3">
                        <label class="ms-3" for="total-seats">Tổng ghế:</label>
                        <input class="form-control" type="text" id="total-seats" value="0" readonly>
                    </div>
                    <div class="m-3">
                        <label class="ms-3" for="amount-seats">Tổng tiền:</label>
                        <input class="form-control" type="text" id="amount-seats" value="0" readonly>
                    </div>
                </div>
                <div class="m-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Thanh toán
                    </button>
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Nhập thông tin hành khách</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/search_result" method="get" style="width:100%">
                                        <div class="mb-5 mt-4">
                                            <label for="start_point" class="mb-1 ps-1">Nơi đi</label>
                                            <input type="text" class="form-control" id="start_point"
                                                   placeholder="Nhập nơi đi ..."
                                                   name="start_point">
                                        </div>
                                        <div class="mb-5 mt-3">
                                            <label for="end_point" class="mb-1 ps-1">Nơi đến</label>
                                            <input type="text" class="form-control" id="end_point"
                                                   placeholder="Nhập nơi đến ..."
                                                   name="end_point">
                                        </div>
                                        <div class="mb-5 mt-3">
                                            <label for="flight_date" class="mb-1 ps-1">Ngày bay</label>
                                            <input type="date" class="form-control" id="flight_date"
                                                   placeholder="Chọn ngày bay ..."
                                                   name="flight_date">
                                        </div>
                                        <div class="mb-5 mt-3 d-flex justify-content-center">
                                            <a href="">
                                                <button type="submit" class="btn btn-outline-primary">Tìm kiếm
                                                </button>
                                            </a>
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <p class="me-4">Copyright &copy 2024 Đông Thành Airline. All rights
                                        reserved.</p>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <a href="#" class="btn btn-danger">Hủy</a>

                </div>
            </div>
        </div>
        <div class="col-md-5 col-12 ">
            <div class="d-flex align-item-center justify-content-center">
                <table class="table">
                    <tr>
                        <th>Mã ghế</th>
                        <th>Hạng ghế</th>
                        <th>Giá vé</th>
                        <th></th>
                    </tr>
                    {% for i in range(3) %}
                    <tr>
                        <td>1</td>
                        <td>Thương gia</td>
                        <td>1,400,000</td>
                        <td><input type="button" class="btn btn-danger" value="Xóa"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-4 col-12 d-flex align-item-center justify-content-center">
            <div class="border border-dark ms-5 text-center" style="height: 100%; width: 280px">
                {% for i in range(1, seats|length + 1) %}
                {% set extra_class = "ms-1" if i % 4 == 1 else "ms-5" if i % 4 == 3 else "" %}
                <button class="btn btn-outline-primary mt-2 {{ extra_class }} seat-toggle" href="javascript:;" ontoggle=""
                        id="seat_{{ seats[i - 1].name }}">
                    {{ seats[i - 1].name }}
                </button>
                {% if i % 4 == 0 %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
    </div>
</div>
{% endblock %}