 :root {
    --primary-color: #66ccff;
    --secondary_color: #ffffff;
}

body {
    background-color: var(--primary-color);
}

 body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--secondary_color);
}

.btn-outline-primary{
    background-color: var(--secondary_color);
    border-color: var(--primary-color);
}

.btn-pattern-custom {
    border-radius: 0;
}

.btn-navbar-fixed-size {
     width: 120px;
     height:40px;

}

.btn-outline-primary:hover {
     background-color: primary-color;
     color: secondary-color;
     transition: all 0.3s ease;
}

.btn-dark:hover {
    background-color: secondary-color;
    color: primary-color;
    transition: all 0.3s ease;
}

footer ul {
    list-style-type: "\1F449";
    padding-left: 10px;
    margin: 0;
}

footer ul li{
    margin-top: 10px;
}

body .first-row{
    height: 500px
}

body .first-row .inner-col{
    height: 450px
    width: 100%
}

body .second-row{
    height: 500px;
    width: 103%;
    margin-left: -12px
}

body .third-row{
    height: 600px;
    width: 103%;
    margin-left: -12px
}