
<footer class="bg-white text-dark border border-dark py-3 ms-3 me-3">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <h4>Đông Thành Airline</h4>
                <p>Luôn đem đến cho bạn chất lượng dịch vụ tuyệt vời nhất</p>
                <a href="#" class="me-1"><button><i class="fa-brands fa-facebook"></i></button></a>
                <a href="#" class="me-1"><button><i class="fa-brands fa-twitter"></i></button></a>
                <a href="#" class="me-1"><button><i class="fa-brands fa-instagram"></i></button></a>
            </div>
            <div class="col-md-2 col-12">
                <h4 class="ms-0">Công ty</h4>
                <ul>
                    <li>Giới thiệu công ty</li>
                    <li>Đối tác</li>
                    <li>Quan hệ cổ đông</li>
                </ul>
            </div>
            <div class="col-md-2 col-12">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li>Góp ý dịch vụ</li>
                    <li>Trung tâm trợ giúp</li>
                    <li>Hướng dẫn</li>
                </ul>
            </div>
            <div class="col-md-2 col-12">
                <h4>Pháp lý</h4>
                <ul>
                    <li>Các điều khoản</li>
                    <li>Bảo mật thông tin</li>
                </ul>
            </div>
        </div>
    </div>
</footer>