<nav class="navbar navbar-expand-sm bg-light navbar-light border border-dark mb-3 ms-3 me-3 mt-1">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">Đông Thành Airline</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trợ giúp</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
             <li class="nav-item ">
                <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary btn-pattern-custom btn-navbar-fixed-size">Đăng nhập</button></a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="#"><button type="button" class="btn btn-primary btn-pattern-custom btn-navbar-fixed-size">Đăng ký</button></a>
            </li>

        </ul>
    </div>
</nav>