<nav class="navbar navbar-expand-sm bg-light navbar-light border border-dark mb-3 ms-3 me-3 mt-1">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">Đông Thành Airline</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trợ giúp</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-danger" href="/"><button class="btn btn-outline-primary">
                    <img src="{{ current_user.avatar }}" width="25" class="rounded-circle"
                         alt="{{ current_user.first_name }}">
                    Chào <span class="text-info">{{ current_user.first_name }}</span>
                </button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="/logout"><button class="btn btn-primary">Đăng xuất</button></a>
            </li>
            {% else %}
            <li class="nav-item ">
                <a class="nav-link" href="/login">
                    <button type="button" class="btn btn-outline-primary btn-pattern-custom btn-navbar-fixed-size">Đăng
                        nhập
                    </button>
                </a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="/register">
                    <button type="button" class="btn btn-primary btn-pattern-custom btn-navbar-fixed-size">Đăng ký
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>